<h3 class="row">{{companyname}} - {{macompid}}</h3>
<hr class="row">
<h4 class="row">All Tests Currently Are Based On Following:
    <button type="button" class="btn btn-primary btn-sm" ng-model="btnBaseCollapse"
        btn-checkbox btn-checkbox-true="0" btn-checkbox-false="1" ng-click="isCollapsed = !isCollapsed">
        Toggle RFQ Base List
    </button>
</h4>

<div collapse="isCollapsed">
     <table class="table table-striped table-condensed table-hover">
        <tr ng-repeat="(idx, base) in bases">
            <td width="15%"><a href="#diffview/{{base.rfqnumber}}"><label>{{base.rfqnumber}}</label></a></td>
            <td>{{base.description}}</td>
            <td width="20%">
                <a class="btn btn-danger btn-xs" ng-click="deleteRfqBase(idx)"><i class="glyphicon glyphicon-remove"></i> Remove</a>
                <a class="btn btn-primary btn-xs" ng-click="cloneRfq(base.rfqnumber)"><i class="glyphicon glyphicon-new-window"></i> New Test</a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-xs-2">
            <input ng-model="newbase.rfqnumber" type="text" class="form-control input-sm" placeholder="New RFQ Number" required>
        </div>
        <div class="col-xs-3">
            <input ng-model="newbase.description" type="text" class="form-control input-sm" placeholder="Descriptioin">
        </div>
        <div class="col-xs-1">
            <button class="btn btn-primary btn-sm" ng-click="addNewRfqBase(newbase)"><i class="glyphicon glyphicon-plus"></i> Add</button>
        </div>
    </div>
</div>

<!-- <div ng-repeat="recent in recents"> -->

<!--     <diff-pane testrec="recent" macompid="{{macompid}}"> -->

<!-- </div> -->