<div class="row">
    <h4>Test Result, {{rec.base}} against {{rec.runner}},
        <button class="btn btn-primary btn-sm" ng-click="newTest(rec.base)"><i class="glyphicon glyphicon-new-window"></i> New Test</button>
        <button class="btn btn-primary btn-sm" ng-click="swapBase(rec.base, rec.runner)"><i class="glyphicon glyphicon-transfer"></i> Set As New Base</button>
    </h4>

    <div ng-repeat="idx in mergeKeys(left, right)" ng-if="right.length">
        <table class="table table-striped table-condensed">
            <tbody><tr><th colspan="3">
                LocQ-{{idx}}, Location Requirement
                    <span ng-if="!right[idx].parent_quote.quote_complete" class="label label-info">Test RFQ has not completed yet.</span>
            </th></tr>
            <tr ng-repeat="key in left[0].location_requirement | natualOrder" ng-if="key != 'id'">
                <td width="30%">{{key}}</td>
                <td width="40%">{{left[idx].location_requirement[key]}}</td>
                <td width="40%" ng-class="{danger : (left[idx].location_requirement[key] != right[idx].location_requirement[key])}">{{right[idx].location_requirement[key]}}</td>
            </tr></tbody>
        </table>

        <table class="table table-striped table-condensed">
            <tbody ng-if="right[idx].parent_quote.quote_complete"><tr><th colspan="3">
                Parent Quote ({{left[idx].parent_quote.id}}, {{right[idx].parent_quote.id}})
            </th></tr>
            <tr ng-repeat="key in left[0].parent_quote | natualOrder" ng-if="key != 'id'">
                <td width="30%">{{key}}</td>
                <td width="40%">{{left[idx].parent_quote[key]}}</td>
                <td width="40%" ng-class="{danger : (left[idx].parent_quote[key] != right[idx].parent_quote[key])}">{{right[idx].parent_quote[key]}}</td>
            </tr></tbody>
        </table>

        <table class="table table-striped table-condensed">
            <tbody ng-if="right[idx].parent_quote.quote_complete"><tr><th colspan="3">
                Location Quote ({{left[idx].location_quote.id}}, {{right[idx].location_quote.id}})
            </th></tr>
            <tr ng-repeat="key in left[0].location_quote | natualOrder" ng-if="key != 'id'">
                <td width="30%">{{key}}</td>
                <td width="40%">{{left[idx].location_quote[key]}}</td>
                <td width="40%" ng-class="{danger : (left[idx].location_quote[key] != right[idx].location_quote[key])}">{{right[idx].location_quote[key]}}</td>
            </tr></tbody>
        </table>
    
        <div ng-if="right[idx].parent_quote.quote_complete">
            <label>SKUs for LocQ-{{idx}} (left: {{left[idx].location_quote.id}}, right: {{right[idx].location_quote.id}})</label>
        </div>
        <div ng-if="right[idx].parent_quote.quote_complete" ng-repeat="skuKey in mergeKeys(left[idx].skus, right[idx].skus)" ng-init="allMatch = []">
        <button type="button" class="btn btn-xs" ng-class="!allMatch[skuKey] ? 'btn-success' : 'btn-danger'" ng-click="skuCollapse = !skuCollapse">{{skuKey}}<span ng-if="skuCollapse"> Expand</span></button>
            <div collapse="skuCollapse"><table class="table table-striped table-condensed">
            <tr ng-repeat="key in mergeKeys(left[idx].skus[skuKey], right[idx].skus[skuKey])" ng-if="key != 'id'">
                <td width="30%">{{key}}</td>
                <td width="40%">{{left[idx].skus[skuKey][key]}}</td>
                <td width="40%" ng-class="{danger : _flag = (left[idx].skus[skuKey][key] != right[idx].skus[skuKey][key])}">{{right[idx].skus[skuKey][key]}} <span class="hide">{{allMatch[skuKey] = allMatch[skuKey]  || _flag}}</span></td>
            </tr></table></div>
        </div>

    </div>

    <div ng-if="!right.length">{{message}}</div>

    <div class="clearfix"></div>
</div>