<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">RFQ Regressional Tester</h3>
</div>

Pick a Company:
<select ui-select2="selectOption" ng-model="macomp" style="width: 300px;" ng-required="true">
    <option selected value="">First</option>
    <option ng-repeat="com in macomps" value="{{com}}">{{com.company_name}} - {{com.id}}</option>
</select>

<a href="#/compare" class="btn btn-primary" ng-click="startTest()">Start Test</a>
